<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!--Search bar -->
      <form class="d-flex mt-3" role="search" action="/search" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>

      <!--Navs-->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase me-5 fw-bold" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase me-5 fw-semibold" href="/api/technology">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase me-5 fw-semibold" href="/api/apple">Apple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase  me-5 fw-semibold" href="/api/business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-semibold" href="/About">About</a>
        </li>
      </ul>

    </div>
  </div>
</nav>